html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 20vh 80vh;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  font-family: "Roboto", sans-serif;
  
}

.header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-inline: 40px;
  align-items:center;
}

.sidebar {
  background-color: #4491cf;
  grid-area: sidebar;
  color: white;
}

.main {
  background-color: #e3e8ef;
  display: grid;
  grid-template-columns: 1fr 225px;
  grid-area: main;
  column-gap: 20px;
  padding-inline: 25px;
  overflow: scroll;
}

.search {
  /* display: flex;
  gap: 10px; */
  display: grid;
  column-gap: 15px;
  grid-template-columns: min-content 1fr;
}

.search svg {
  align-self: center;
}



.search-bar {
  min-height: 30px;
  background-color: #e3e8ef;
  border-radius: 25px;
  width:90%;
}

.profile-info {
  /* display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: min-content min-content auto;
  column-gap: 25px;
  align-items: center;
  justify-content: end;
  
}

.profile-welcome {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 15px;
}

.header-actions {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  gap: 10px;
}

.header-actions buttons {
  border-radius: 12px;
}

p {
  margin: 0;
}

.sidebar {
  display: grid;
  align-content: start;
  gap: 50px;
  padding: 25px;
}

.sidebar-actions,
.sidebar-help {
  display: grid;
  gap: 20px;
}

h1 {
  margin: 0;
}

.projects-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-content: start;
}

p {
  margin: 0;
  font-size: 0.75rem;
}

.announcements-list,
.trending-list,
.post {
  background-color: white;
  border-radius: 12px;
}

.post {
  border-left: 8px solid #e0b048;
  padding-inline: 15px;
  padding-block: 25px;
}

.post h2{
  font-size: 18px;
  margin: 2px;
}


.trending-profile {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 25px;
}

.sidebar h1 svg {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.sidebar svg {
  fill: white;
  width: 22px;
  height: 22px;
  margin-right: 15px;
  vertical-align: bottom;
}

.header svg {
  width: 22px;
  height: 22px;
}

.sidebar-actions div,
.sidebar-help div {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile-picture {
  background-color: #f3cd49;
  width:40px;
  height:40px;
  padding: 10px;
  border-radius: 50%;
  padding:5px;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
}

.large-profile-picture {
  width:70px;
  height:70px;
  background-color: #f3cd49;
  padding:10px;
  border-radius:50%;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border-radius: 20px;
  border:none;
  background-color: #4491cf;
  color:white;
  padding: 4px 12px;
}

.header-welcome {
  font-weight: bold;
  display: grid;
  row-gap: 10px;
  align-content: start;
  align-self: center;
}

.header-welcome span {
  font-size: 13px;
}

.header-welcome p {
  font-size: 24px;
}

.icons {
  display:grid;
  grid-template-columns: repeat(3,auto);
  justify-content: end;
  gap: 20px;
}

.icons svg {
  width:25px;
  height:25px;
}

.post p {
  font-size: 14px;
  margin-bottom: 30px;
}

.main h2 {
  font-size: 20px;
}

.announcements-list h4{
  margin: 0px;
  font-size: 14px;
}

.announcements-list p {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-top: 5px;
}

.announcements-list :last-child p{
  border-bottom:none;
  padding-bottom:0;
}
.announcements-list div:last-child {
  margin: 0;
}

.announcements-list div {
  margin-bottom: 10px;
}

.announcements-list {
  padding-block: 30px;
  padding-inline: 30px;
}

.trending-list {
  padding:10px;
  display: grid;
  gap: 15px;
}

.trending-profile {
  display: grid;
  grid-template-columns: auto 1fr;
  
}
.trending-profile .profile-picture {
  align-self:center;
  width:40px;
  height:40px;
}

.user-info h5 {
  margin:0;
  font-weight: 500;
  margin-bottom: 3px;
}

.trending-profile:nth-of-type(1) .profile-picture {
  background-color: crimson;
}
.trending-profile:nth-of-type(2) .profile-picture {
  background-color: magenta;
}
.trending-profile:nth-of-type(3) .profile-picture {
  background-color: blueviolet;
}
.trending-profile:nth-of-type(4) .profile-picture {
  background-color: salmon;
}



@media (min-width: 1000px) {
  .header-actions {
    gap:20px;
    justify-self:end;
  }
  button {
    padding: 10px 30px;
  }
  
}